body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.btns{
  margin: 10px;
}

.comp{
width: 400px;
height: 290px;
}

.about01{
font-family: 'Source Sans Pro', sans-serif;
color: #fff;
}

.des01{
  font-family: 'Source Sans Pro', sans-serif;
  color: #dbe3e5;
  line-height: 2;
  font-size: large;

}

.middlecontainer02{
background: rgb(23,210,227);
background: linear-gradient(115deg,#17d2e3,#13b4ca,#0e80a1,#0a557e,#063463,#041c50,#020d44,#020941,#020a42);
width: 100%;

}
.middlecontainer02{
  position: relative;
} 
.middlecontainer02 .bg-style-1{
  position: absolute;
  width: 340px;
  height: 340px;
  right: 150px;
  top: 110px;
}
.middlecontainer02 .bg-style-2{
 width: 340px;
 height: 340px;
 position: absolute;
 bottom: 0px;
 right: 40px;
}
.middlecontainer02 .bg-style-3{
 width: 600px;
 height: 600px;
 position: absolute;
 top: 15px;
 left: 0px
}

.desc01{
  top: 20px;
  font-family: 'Barlow', sans-serif;
  font-size: 35px;
  font-weight: 550;
}
.logo02{
  color: #fff;
  font-size: 25px;
  top: 27px;
  font-family: 'Alata', sans-serif;
  border-style: solid;
  padding: 9px;
  z-index: 1;
}
footer{
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
} 
.lastcontainer{
  background: rgb(23,210,227);
  background: linear-gradient(166deg, rgba(23,210,227,1) 0%, rgba(12,31,94,1) 69%, rgba(1,21,59,1) 100%);
  width: 100%;
  
}

.social-icon{
    font-size: x-large;
    margin: 20px 15px;
    color: #00ffff;
}
.text-right{
  color: #00ffff;
}
.copyright{
  color:#fff
}
.bg-footer{
  background-image: url(./asset/images/Asset\ 21.svg);
  background-repeat: no-repeat;
  background-position: center;
}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {  

  .about01{
      font-family: 'Source Sans Pro', sans-serif;
      color: #fff;
      font-size: small;
    }
    
    .des01{
        font-family: 'Source Sans Pro', sans-serif;
        color: #dbe3e5;
        line-height: 2;
        font-size: 15px;
    
    }
    .AI01{
      padding-top: 70px;
      z-index: 3;
      bottom: 0px;
      font-size: 50px;
      color: white;
      font-family: 'Josefin Sans', sans-serif;
    }
    
    .AI02{
      z-index: 3;
      top: 0px;
      font-size: 25px;
      color: white;
      font-family: 'Josefin Sans', sans-serif;
    }
    
    .desc{
      z-index: 3;
      bottom: 920px;
      font-family: 'Barlow', sans-serif;
      font-size: 20px;
      color: #fff;
    }
 
}
@media (max-width: 544px) {  
  .bg-face-1{
      height: 0x;
      background-image:none;
      
  } 
     
.btns{
  width: 130px;
  height: 130px;
} 
.texts{
  font-size:large;
}
.about01{
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  font-size: small;
  padding-top: 20px ;
}
.desc01{
  top: 20px;
  font-family: 'Barlow', sans-serif;
  font-size: 25px;
  font-weight: 550;
}

.middlecontainer02 .bg-style-1{
  position: absolute;
  width: 140px;
  height: 140px;
  right: 150px;
  top: 450px;
}
.middlecontainer02 .bg-style-2{
 width: 140px;
 height: 140px;
 position: absolute;
 bottom: 2px;
 right: 40px;
}
.middlecontainer02 .bg-style-3{
  width: 300px;
  height: 300px;
  position: absolute;
  top: 15px;
  left: 16px
}
.des01{
  font-family: 'Source Sans Pro', sans-serif;
  color: #dbe3e5;
  line-height: 1.5;
  font-size: 19px;

}
}

.logo03 {
  display: flex;
  flex-direction: row;
}
.logo03:before, .logo03:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #fff;
  margin: auto;
}
.logo03:before {
  margin-right: 10px
}
.logo03:after {
  margin-left: 10px
}

/* login page*/


