body{
    background: #b4e5e9;;
}
.logo {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Alata', sans-serif;
    border:1px solid #fff;
    padding: 3px 10px;
    z-index: 1;
}
.logbg-nav{
    background:linear-gradient(-32deg,#000033,#00ffff); 
  }  
.row-content{
    padding: 40px 0;
}
.row-gap{
    padding: 100px 0px;
}
  .login {
    color: white;
    background: #136a8a;
    background: linear-gradient(115deg,#17d2e3,#13b4ca,#0e80a1,#0a557e,#063463,#041c50,#020d44,#020941,#020a42); 
    margin: auto;
    box-shadow: 
      0px 2px 10px rgba(0,0,0,0.2), 
      0px 10px 20px rgba(0,0,0,0.3), 
      0px 30px 60px 1px rgba(0,0,0,0.5);
    border-radius: 8px;
    padding: 50px;
  }
  .login .head {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login .head .company {
    font-size: 2.2em;
  }
  .login .msg {
    text-align: center;
  }
  .login .form input[type=email].text {
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 100%;
    color: white;
    font-size: 1em;
    outline: none;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .login .form input[type=text].text {
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 100%;
    color: white;
    font-size: 1em;
    outline: none;
  }
  .login .form .text::placeholder {
    color: #D3D3D3;
  }
  .login .form input[type=password].password {
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 100%;
    color: white;
    font-size: 1em;
    outline: none;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .login .form .password::placeholder {
    color: #D3D3D3;
  }
  .login .form .btn-login {
    background: none;
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px 0px 2px white;
    border-radius: 3px;
    padding: 5px 2em;
    transition: 0.5s;
  }
  .login .form .btn-signup:hover {
    background: white;
    color: dimgray;
    transition: 0.5s;
  }
  .login .form .btn-signup {
    background: none;
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px 0px 2px white;
    border-radius: 3px;
    padding: 5px 2em;
    transition: 0.5s;
  }
  .login .form .btn-signup:hover {
    background: white;
    color: dimgray;
    transition: 0.5s;
  }


  .login .forgot {
    text-decoration: none;
    color: white;
    float: right;
  }
 
  .logo02{
    color: #fff;
    font-size: 25px;
    top: 27px;
    font-family: 'Alata', sans-serif;
    border-style: solid;
    padding: 9px;
    z-index: 1;
  }
  .logo03 {
    display: flex;
    flex-direction: row;
  }
  .logo03:before, .logo03:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #fff;
    margin: auto;
  }
  .logo03:before {
    margin-right: 10px
  }
  .logo03:after {
    margin-left: 10px
  }
  footer{
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  } 
  .lastcontainer{
    background: rgb(23,210,227);
    background: linear-gradient(166deg, rgba(23,210,227,1) 0%, rgba(12,31,94,1) 69%, rgba(1,21,59,1) 100%);
    width: 100%;
    
  }

  .social-icon{
      font-size: x-large;
      margin: 20px 15px;
      color: #00ffff;
  }
.text-right{
    color: #00ffff;
}
.copyright{
    color:#fff
}
.bg-footer{
    background-image: url(./asset/images/Asset\ 21.svg);
} 
